@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
}

.coCheck-main--style {
  margin-bottom: 100px;
}

@media all and (min-width: 576px) {
  .co-card--style {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
            box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
  }
}

.co-block {
  padding: 15px;
}

.co-block .pic_content {
  margin: 0 auto;
  width: 80%;
}

.co-block .pic_content img {
  width: 100%;
}

.co-block .row {
  margin: 10px;
}

.coCheck > .coCheck-footer {
  background-color: white;
  -webkit-box-shadow: 0 -3px 15px rgba(75, 83, 94, 0.3);
          box-shadow: 0 -3px 15px rgba(75, 83, 94, 0.3);
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.coCheck > .coCheck-footer .co-button .co-button--flex button {
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 5px;
}

.coCheck > .coCheck-footer .co-button .co-copyRight {
  text-align: center;
  margin: 5px auto;
}

.co-ao--allStyle {
  margin-top: 40px;
}

.co-ao-board--style {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
          box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
}

.step-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.step-head-step {
  -ms-flex-preferred-size: 175px;
      flex-basis: 175px;
  text-align: center;
}

.step-head-step_item {
  min-width: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px auto 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.step-head-step--complete {
  background-color: #91D0EB;
  color: white;
}

.step-head-step--incomplete {
  background-color: #bbbbbb;
  color: white;
}

.c-driver {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid #eee 1px;
  margin: -18px -60px 0;
}

@media only screen and (max-width: 991px) {
  .co-ao-board--style {
    margin: 10px 1px;
  }
}

@media only screen and (max-width: 650px) {
  .step-head-step {
    -ms-flex-preferred-size: 75px;
        flex-basis: 75px;
  }
  .c-driver {
    margin: -5px -20px 0;
  }
  .step-head-step_text {
    border: crimson solid 2px;
    display: none;
  }
}

.co-button--style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.co-counselor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.co-counselor .co-counselor-pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 0px;
  cursor: pointer;
}

.co-counselor .co-counselor-pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.co-counselor .co-counselor-pic img:hover {
  width: 90px;
  height: 90px;
}

.co-counselor .co-counselor-text {
  line-height: 80px;
  vertical-align: top;
}

.co-counselor .co-counselor-text > div {
  color: #989898;
  display: inline-block;
}

.co-button--style {
  margin-bottom: 10px;
}

.button4 {
  display: inline-block;
  width: 250px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #91D0EB;
  color: #91D0EB;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.button4:hover {
  background-color: #91D0EB;
  color: #fff;
}

@media only screen and (max-width: 575px) {
  .button4 {
    width: 120px;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #91D0EB;
    color: #91D0EB;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
  }
  .button4:hover {
    background-color: #91D0EB;
    color: #fff;
  }
}

.co-title {
  padding: 15px;
}

.co-title h5,
.co-title h6 {
  text-align: center;
}

.cos-counselor > div {
  padding: 10px 10px;
}

.cos-counselor > div .co-counselor-pic .co-counselor-content {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
  cursor: pointer;
}

.cos-counselor > div .co-counselor-pic .co-counselor-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.cos-counselor > div .co-counselor-pic .co-counselor-content img:hover {
  width: 140px;
  height: 140px;
}

.cos-counselor > div .co-counselor-text > div {
  padding-top: 35px;
}

.cos-counselor > div .co-counselor-text > div > div {
  padding: 15px 0;
  color: #989898;
  text-align: center;
}

.cos-counselor > div .co-counselor-order {
  padding: 10%;
}

.cos-counselor > div .co-counselor-order > div > div > div {
  padding: 12px 0;
}

.cos-counselor > div .co-counselor-order .co-counselor-order_item {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.co-selfInfo .co-selfInfo_title,
.ao-selfInfo .co-selfInfo_title {
  margin: 0 15px;
  padding: 10px;
  border-bottom: #ccc solid 1px;
}

.co-selfInfo .co-selfInfo_title > span,
.ao-selfInfo .co-selfInfo_title > span {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.co-selfInfo .co-selfInfo_title > span > a,
.ao-selfInfo .co-selfInfo_title > span > a {
  text-decoration: none;
  color: #91D0EB;
}

.co-selfInfo_block {
  margin: 15px;
}

.co-selfInfo_block > form {
  width: 90%;
}

.co-selfInfo_block > form .cos-selfForm_item {
  padding-top: 10px;
}

.co-selfInfo_block > form .cos-selfForm_item > div {
  margin: 3px 0;
}

.co-selfInfo_block > form .cos-selfForm_item > div > label {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.co-selfInfo_block > form .cos-selfForm_item > div > label > span {
  color: red;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control {
  background-color: #efeff2;
  border: #e0ddd8 1px solid;
  border-radius: 3px;
  outline: none;
  width: 100%;
  height: 30px;
  color: #322f2a;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control::-webkit-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control:-ms-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control::-ms-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control::placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item .form-control--width {
  width: 68%;
}

.co-selfInfo_block > form .cos-selfForm_item > select {
  background-color: #ededed;
  border: #e0ddd8 1px solid;
  border-radius: 3px;
  outline: none;
  width: 30%;
  height: 30px;
  font-size: 16px;
  letter-spacing: 0.5;
  color: #322f2a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url(...);
}

.co-selfInfo_block > form .cos-selfForm_item > select::-webkit-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item > select:-ms-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item > select::-ms-input-placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item > select::placeholder {
  color: #888682;
}

.co-selfInfo_block > form .cos-selfForm_item .radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.co-selfInfo_block > form .cos-selfForm_item .radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.co-selfInfo_block > form .cos-selfForm_item .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.co-selfInfo_block > form .cos-selfForm_item .radio input:checked ~ .checkmark {
  background-color: #84c0da;
}

.co-selfInfo_block > form .cos-selfForm_item .radio input:checked ~ .checkmark::after {
  display: block;
}

.co-selfInfo_block > form .cos-selfForm_item .radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.co-selfInfo_block > form .cos-selfForm_item .radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media only screen and (max-width: 575px) {
  .co-selfInfo .co-selfInfo_block,
  .ao-selfInfo .co-selfInfo_block {
    margin: 0;
  }
  .co-selfInfo .co-selfInfo_block > form,
  .ao-selfInfo .co-selfInfo_block > form {
    width: 100%;
  }
  .co-selfInfo .co-selfInfo_block > form .cos-selfForm_item .form-control--width,
  .ao-selfInfo .co-selfInfo_block > form .cos-selfForm_item .form-control--width {
    width: 100%;
    margin-top: 5px;
  }
  .co-selfInfo .co-selfInfo_block > form .cos-selfForm_item > select,
  .ao-selfInfo .co-selfInfo_block > form .cos-selfForm_item > select {
    width: 100%;
  }
}

.co-CheckOrder_block {
  margin: 15px;
}

.co-CheckOrder_block .co-CheckOrder-table {
  font-size: 16px;
  margin: 16px;
  width: 100%;
  border-collapse: separate;
}

.co-CheckOrder_block .co-CheckOrder-table tr {
  height: 50px;
  text-align: left;
  line-height: 50px;
}

.co-CheckOrder_block .co-CheckOrder-table tr th {
  padding: 5px;
  width: 30%;
}

.co-CheckOrder_block .co-CheckOrder-list {
  font-size: 16px;
  margin: 16px;
  width: 100%;
  border-collapse: separate;
  border-bottom: dotted #ccc 1px;
}

.co-CheckOrder_block .co-CheckOrder-list tr {
  height: 30px;
  text-align: left;
  line-height: 30px;
}

.co-CheckOrder_block .co-CheckOrder-list tr th {
  background-color: #ccc;
}

.co-CheckOrder_block .co-CheckOrder-list tr th:nth-child(1) {
  width: 45%;
}

.co-CheckOrder_block .co-CheckOrder-list tr th:nth-child(2) {
  width: 15%;
}

.co-CheckOrder_block .co-CheckOrder-list tr th:nth-child(3) {
  width: 20%;
}

.co-CheckOrder_block .co-CheckOrder-list tr th:nth-child(4) {
  width: 20%;
}

.co-CheckOrder_block .co-CheckOrder-list tr td {
  padding: 5px;
}

.co-CheckOrder_title {
  display: block;
  margin: 20px;
}

.co-CheckOrder_title span:nth-child(2) {
  margin: 0 30px;
  color: #91D0EB;
}

@media only screen and (max-width: 575px) {
  .co-CheckOrder_block {
    margin: 0;
  }
  .co-CheckOrder-list > tr {
    height: 30px;
    text-align: left;
    line-height: 30px;
  }
  .co-CheckOrder-list > tr > th {
    display: none;
  }
  .co-CheckOrder-list > tr > td {
    text-align: center;
    display: block;
  }
  .co-CheckOrder-list > tr > td:before {
    text-align: center;
    background-color: #ccc;
    content: attr(data-title);
    display: block;
  }
}

.co-billing .co-billing-block,
.ao-billing .co-billing-block {
  margin: 15px;
}

.co-billing .co-billing-block .co-billing_button,
.ao-billing .co-billing-block .co-billing_button {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 7px #ccc;
          box-shadow: 0px 0px 7px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: #ccc solid 1px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 3px;
}

.co-billing .co-billing-block .co-billing_button div:nth-child(2),
.ao-billing .co-billing-block .co-billing_button div:nth-child(2) {
  padding: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  color: steelblue;
}

.co-billing .co-billing-block .co-billing_button div:nth-child(2):hover,
.ao-billing .co-billing-block .co-billing_button div:nth-child(2):hover {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #7ca4c4;
  color: white;
}

.co-billing .co-billing-block > div,
.ao-billing .co-billing-block > div {
  width: 100%;
}

.co-billing .co-billing-block > div .co-billing_list,
.ao-billing .co-billing-block > div .co-billing_list {
  width: 100%;
  border-bottom: #ccc solid 1px;
}

.co-billing .co-billing-block > div .co-billing_list tr,
.ao-billing .co-billing-block > div .co-billing_list tr {
  height: 30px;
  text-align: left;
  line-height: 30px;
}

.co-billing .co-billing-block > div .co-billing_list tr th,
.ao-billing .co-billing-block > div .co-billing_list tr th {
  padding: 10px 15px;
  background-color: #ccc;
}

.co-billing .co-billing-block > div .co-billing_list tr th:nth-child(1),
.ao-billing .co-billing-block > div .co-billing_list tr th:nth-child(1) {
  width: 45%;
}

.co-billing .co-billing-block > div .co-billing_list tr th:nth-child(2),
.ao-billing .co-billing-block > div .co-billing_list tr th:nth-child(2) {
  width: 15%;
}

.co-billing .co-billing-block > div .co-billing_list tr th:nth-child(3),
.ao-billing .co-billing-block > div .co-billing_list tr th:nth-child(3) {
  width: 20%;
}

.co-billing .co-billing-block > div .co-billing_list tr th:nth-child(4),
.ao-billing .co-billing-block > div .co-billing_list tr th:nth-child(4) {
  width: 20%;
}

.co-billing .co-billing-block > div .co-billing_list tr td,
.ao-billing .co-billing-block > div .co-billing_list tr td {
  padding: 15px;
}

.co-billing .co-billing-block > div .co-billing_title,
.ao-billing .co-billing-block > div .co-billing_title {
  width: 100%;
  text-align: right;
  margin: 20px 0px;
}

.co-billing .co-billing-block > div .co-billing_title span:nth-child(2),
.ao-billing .co-billing-block > div .co-billing_title span:nth-child(2) {
  margin: 0 15px;
  color: steelblue;
}

.co-billing .co-billing-block .co-billing-block_title,
.ao-billing .co-billing-block .co-billing-block_title {
  padding: 5px 0;
}

.co-billing .co-billing-block .co-billing-payment,
.ao-billing .co-billing-block .co-billing-payment {
  margin: 20px 0;
  color: #949494;
  border: #ccc solid 1px;
  border-radius: 3px;
}

.co-billing .co-billing-block .co-billing-payment .co-billing-title,
.ao-billing .co-billing-block .co-billing-payment .co-billing-title {
  padding: 15px;
  border-bottom: #ccc solid 1px;
}

.co-billing .co-billing-block .co-billing-payment .co-billing_method,
.ao-billing .co-billing-block .co-billing-payment .co-billing_method {
  padding: 15px 6%;
  border-bottom: #ccc solid 1px;
}

@media only screen and (max-width: 575px) {
  .co-billing_list tr {
    height: 30px;
    text-align: left;
    line-height: 30px;
  }
  .co-billing_list tr th {
    display: none;
  }
  .co-billing_list tr td {
    padding: 0 !important;
    text-align: center;
    display: block;
  }
  .co-billing_list tr td:before {
    text-align: center;
    background-color: #ccc;
    content: attr(data-title);
    display: block;
  }
}

.co-review {
  text-align: center;
}

.co-review .button {
  border: saddlebrown solid 1px;
}

.cos-counselor-review > div {
  padding: 10px 10px;
}

.cos-counselor-review > div .co-counselor-pic .co-counselor-content {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto;
  cursor: pointer;
}

.cos-counselor-review > div .co-counselor-pic .co-counselor-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.cos-counselor-review > div .co-counselor-pic .co-counselor-content img:hover {
  width: 220px;
  height: 220px;
}

.cos-counselor-review > div .co-counselor-text {
  color: #989898;
}

.cos-counselor-review > div .co-counselor-text > div {
  padding-top: 0px;
}

.cos-counselor-review > div .co-counselor-text > div > div {
  padding: 5px 0;
}

.cos-counselor-review > div .co-counselor-order {
  padding: 5%;
}

.cos-counselor-review > div .co-counselor-order > div > div > div {
  padding: 5px 0;
}

.aoCheck-main--style {
  margin-bottom: 100px;
}

@media all and (min-width: 576px) {
  .ao-card--style {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
            box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
  }
}

.ao-block {
  padding: 15px;
}

.ao-block > div {
  padding: 15px;
}

.ao-block > div .ao-block_content .pic_content {
  margin: 0 auto;
  width: 100%;
}

.ao-block > div .ao-block_content .pic_content img {
  width: 100%;
}

.ao-block > div .ao-block_content .intro_content > div {
  margin: 10px 0;
}

.ao-block > div .ao-block_content .intro_content > div > div {
  margin: 8px 0;
}

.ao-block > div .ao-block_content .intro_content > div > div span {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.ao-block .ao-ticket_block .ticket_block-bgc {
  width: 100%;
  background-color: rgba(229, 236, 238, 0.701);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block {
  margin: 20px;
  vertical-align: top;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-colorDec {
  height: 100%;
  width: 2%;
  background-color: #91D0EB;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-info {
  border: #b22222 solid 1px;
  width: 70%;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-info > span {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-info > span > button {
  border: none;
  color: #91D0EB;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-info > div > span {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block-info > div span:nth-child(3) {
  color: #91D0EB;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block_button {
  border-radius: 30px;
  overflow: hidden;
  width: 60px;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block_button > button {
  font-size: 20px;
  color: white;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #91D0EB;
  width: 100%;
  background-color: none;
  display: block;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block_button > button:active {
  -webkit-box-shadow: inset 0px 0px 10px #6895a96b;
          box-shadow: inset 0px 0px 10px #6895a96b;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block_button .ticket_button-add {
  border-radius: 70px 70px 0 0;
}

.ao-block .ao-ticket_block .ticket_block-bgc .ticket_block_button .ticket_button-min {
  border-radius: 0px 0px 70px 70px;
}

.aoCheck-footer {
  background-color: white;
  -webkit-box-shadow: 0 -3px 15px rgba(75, 83, 94, 0.3);
          box-shadow: 0 -3px 15px rgba(75, 83, 94, 0.3);
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.aoCheck-footer .ao-sign .ao-sign--flex .ao-sign_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aoCheck-footer .ao-sign .ao-sign--flex .ao-sign_text span {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.aoCheck-footer .ao-sign .ao-sign--flex button {
  width: 100%;
  margin: 0 auto;
  border: none;
  padding: 5px;
}

.aoCheck-footer .ao-sign .ao-copyRight {
  text-align: center;
  margin: 5px auto;
}

.ao-title {
  padding: 15px;
}

.ao-title h5,
.ao-title h6 {
  text-align: center;
}

.ao-block_content .list_content {
  padding: 10px;
}

.ao-block_content > div > div > div {
  padding: 12px 0;
}

.ao-block_content .ao-order_item {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cos-selfForm_item--border {
  margin-top: 15px;
  border-top: #ccc solid 1px;
}

.checkbox--style {
  padding: 5px;
  position: absolute;
  opacity: 0;
}

.checkbox--style + label {
  position: relative;
  cursor: pointer;
}

.checkbox--style + label a {
  text-decoration: none;
  color: #91D0EB;
}

.checkbox--style + label:before {
  margin-top: 5px;
  content: '';
  margin-right: 6px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border: #91D0EB solid 1px;
  border-radius: 2px;
}

.checkbox--style:hover + label:before {
  border: #91D0EB solid 3px;
}

.checkbox--style:focus + label:before {
  -webkit-box-shadow: 0 0 4px rgba(106, 106, 106, 0.495);
          box-shadow: 0 0 4px rgba(106, 106, 106, 0.495);
}

.checkbox--style:checked + label:before {
  background: #91D0EB;
}

.checkbox--style:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

h1 {
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h5 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h6 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

p {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

.small {
  font-size: 14px;
  font-weight: 300;
}

.article {
  margin: 20px;
  width: 500px;
}

.button {
  margin: 10px;
  width: 120px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #FFA492;
  color: #fff;
  cursor: pointer;
  background-color: #FFA492;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.button:hover {
  background-color: transparent;
  color: #FFA492;
}

.button2 {
  margin: 10px;
  width: 120px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #91D0EB;
  color: #fff;
  cursor: pointer;
  background-color: #91D0EB;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.button2:hover {
  background-color: transparent;
  color: #91D0EB;
}

.button2-1 {
  margin: 10px;
  width: 150px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #91D0EB;
  color: #91D0EB;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.button2-1:hover {
  background-color: #91D0EB;
  color: #fff;
}

.button3 {
  margin: 10px;
  width: 80px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #91D0EB;
  color: #91D0EB;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.button3:hover {
  background-color: #91D0EB;
  color: #fff;
}

.button3-1 {
  margin: 10px;
  display: inline-block;
  width: 80px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #FFA492;
  color: #FFA492;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
  border-radius: 10px;
}

.button3-1:hover {
  background-color: #FFA492;
  color: #fff;
}

.box {
  display: inline-block;
  margin: 0 30px;
  width: 350px;
  height: 400px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
          box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
  overflow: hidden;
}

.box img {
  width: 100%;
}

.time {
  border: 1px solid green;
  display: block;
  height: 30px;
  position: relative;
}

.time p {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
  font-size: 14px;
  float: right;
}
/*# sourceMappingURL=ao_co_style.css.map */