@media all and(max-width:768px){
    .seTitle{
        display: block;
        margin-bottom: 5%;
        &::before{
            width: 77%;
            top: -19%;
            right: 0;
            left: unset;
        }
        &::after{
            bottom: -10%;
        }
        .seTitle-content{
            width: 100%;
            .seTitle-content_title {
                text-align: end;
            }
            .seTitle-content_detail{
                margin-left: 0;
                text-align: end;
            }
        }
      

    }
    .seContent_box{
        .seContent-box＿top{
            display: block;
            .seClassTitle-content_pic{
                // margin-left: 0;
                width: 95%;
                margin-right: 0;
            }
            .seClassTitle-content_detail{
                width: 90%;
                margin: auto;
                // margin-right: 0;
            }
        }
        .seContent-box＿center{
            width: 90%;
            margin: auto;
        }
        .seContent-box_beneath {
            display: block;
            .seContent-box-beneath_detail{
                width: 90%;
                margin:auto;
                // margin-left: 0;
                // margin-right: 0;
            }
            .seContent-box-beneath_pic{
                width: 60%;
                margin: auto;
            }
        }
      
    }
}