<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動報名</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css">
    <!-- 自定義 -->
    <link rel="stylesheet" type="text/css" href="./css/header.css"/>
    <link rel="stylesheet" type="text/css" href="./css/chatbot.css"/>
    <link rel="stylesheet" type="text/css" href="./css/footer.css"/>
    <link rel="stylesheet" href="./css/acMain.css">

    <body>
<!------導覽列------>
<header>
    <div class="top">
        <div class="navbar">
            <a href="./index.html" class="navbar__item logo"><img src="./img/navbar/cklogo.png" alt class="desktop_logo"><img src="./img/navbar/cklogo2.png" alt class="mobile_logo"></a>
            <div class="navbar__menu">
                <a class="navbar__item navbar__link" href="csMain.html">預約諮詢</a>
                <a class="navbar__item navbar__link" href="chatRoom.html">線上諮商</a>
                <a class="navbar__item navbar__link" href="acMain.html">活動報名</a>
                <a class="navbar__item navbar__link" href="atMain.html">專欄文章</a>
                <a class="navbar__item navbar__link" href="oracleCard.html">神諭卡</a>
                <a class="navbar__item navbar__link" href="test.html">心理評估測驗</a>

            </div>

            <ul class="navbar__sign">
                <li><button class="navbar__sign__item" id="signup">加入會員</button></li><li> ｜</li>
                <li><button class="navbar__sign__item" id="signin">登入</button></li>
            </ul>

            <span class="hamburger hamburger--collapse navbar__item" id="js-navbar-toggle">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </span>  
        </div>
    </div>

    <!------註冊登入會員----->

    <div class="signup_overlay signup_overlay-none" id="signup_overlay">
        <div class="container" id="container">
            <span class="container_close" id ="close">&times;</span>
            <div class="form-container sign-up-container">
                <form action="#">
                    <h3>加入會員</h3>
                    <span>請填寫以下資訊完成註冊</span>
                    <input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <button>註冊</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h3>登入會員</h3>
                    <span>請輸入您的帳號密碼</span>
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />
                    <a href="#">忘記密碼？</a>
                    <button>登入</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h3>歡迎回來！</h3>
                        <p>登入會員享有更多服務</p>
                        <button class="ghost" id="signIn">登入會員</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h3>歡迎加入Checkie！</h3>
                        <p>為生命帶來一些新的可能，<br>只需簡單完成申請</p>
                        <button class="ghost" id="signUp">加入會員</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------ chatbot ------>

    <button class="circle" type="button">
        
        <span class="icon-elements">
        </span>
    </button>
    <div class="modal-wrapper">
        
        <div class="modal-header">
            <span class="title">Checkie線上客服</span>
            <p>您好！很高興為您服務</p>
        </div>

        <div class="modal-chatbox">
            <span class="reply" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
            <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
            <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
            <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
        </div>
        <form action="">
        <div class="modal-inputbox">
            <input class="modal-input" type="text" placeholder="輸入您的問題...">
            <input class="modal-input_submit" type="button" value="送出">
        </div>
        </form>
    </div>
</header>
    
    <!-- acMain -->
        <main id="acMain" class="acMain container-fluid">
            <div class="acBanner owl-carousel owl-theme">
                    <div><img src="./img/acMain/banner1.jpg" alt="..."></div>
                    <div><img src="./img/acMain/banner2.jpg" alt="..."></div>
                    <div><img src="./img/acMain/banner3.jpg" alt="..."></div>
            </div>

            <div id="acSearch" class="acSearch container-sm container-md">
                <ul>
                    <li v-for="(num,index) in title" @click="category_click(index)"><a href="javascript:void(0)">{{num}}</a></li>
                    
                </ul>
                
            </div>

            <h1 class="asSelect_title container-sm container-md">{{now_title}}</h1>

            <div id="acSelect" class="acSelect container-sm container-md">
                <ac-select-card   v-for="num in nums"></ac-select-card>
            
                <div class="acSelect-wrapper_btnMore col-12">
                    <button class="acSelectMore" @click="nums+=3">更多活動</button>
                </div>
            </div>
            
            <h1  class="acComment_title container-sm container-md">會員好評</h1>
            <div class="acComment container-sm container-md" id="acComment">
                <ac-comment-list v-for="num in 4">
            </div>

        </main>
        <footer>
            <div class="footer_socialmedia">
                <a class="socialmedia_link" href=""><img src="./img/icon/mail.png" alt class="black"><img src="./img/icon/mailhover.png" alt class="pink"></a>
                <a class="socialmedia_link" href=""><img src="./img/icon/line.png" alt class="black"><img src="./img/icon/linehover.png" alt class="pink"></a>
                <a class="socialmedia_link" href=""><img src="./img/icon/facebook.png" alt class="black"><img src="./img/icon/facebookhover.png" alt class="pink"></a>
            </div>

            <div class="footer_address">
                <h6>Checkie心理諮商中心</h6>
                <h6>電話：</h6>
                <p>(03)301-1021</p>
                <h6>地址：</h6>
                <p>320桃園市中壢區中大路300號</p>
            </div>
                <p>Copyright © 2015 Checkie Psychological Counseling Center. All Rights Reserved</p>
        </footer>

        <!-- 資料庫帶入 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Header & Footer -->
        <script src="./js/header.js"></script>
        <script src="./js/chatbot.js"></script>
        <!-- 輪播 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- 活動好評小卡Vue -->
        <script src="./js/acMain--Vue.js"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                items:1,
                loop:true,
                margin:10,
                touchDrag:true,
                autoplay:true,
                autoplayTimeout: 2000,
                autoplayHoverPause:false,
                nav:true,
            });
        </script>
    </body>
</head>
</html>