<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" />
    <!-- <link rel="stylesheet" href="./vender/bootstrap-grid.css"> -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/chatbot.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" />



    <link rel="stylesheet" href="./css/ao_co_style.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <header>
        <div class="top">
            <div class="navbar">
                <a href="index.html" class="navbar__item logo"><img src="./img/navbar/cklogo.png" alt class="desktop_logo"><img src="./img/navbar/cklogo2.png" alt class="mobile_logo"></a>
                <div class="navbar__menu">
                    <a class="navbar__item navbar__link" href="csMain.html">預約諮詢</a>
                    <a class="navbar__item navbar__link" href="chatRoom.html">線上諮商</a>
                    <a class="navbar__item navbar__link" href="acMain.html">活動報名</a>
                    <a class="navbar__item navbar__link" href="atMain.html">專欄文章</a>
                    <a class="navbar__item navbar__link" href="oracleCard.html">神諭卡</a>
                    <a class="navbar__item navbar__link" href="test.html">心理評估測驗</a>

                </div>

                <ul class="navbar__sign">
                    <li><button class="navbar__sign__item" id="signup">加入會員</button></li>
                    <li> ｜</li>
                    <li><button class="navbar__sign__item" id="signin">登入</button></li>
                </ul>

                <span class="hamburger hamburger--collapse navbar__item" id="js-navbar-toggle">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                </span>
                </span>
            </div>
        </div>

        <!------註冊登入會員----->

        <div class="signup_overlay signup_overlay-none" id="signup_overlay">
            <div class="container" id="container">
                <span class="container_close" id="close">&times;</span>
                <div class="form-container sign-up-container">
                    <form action="#">
                        <h3>加入會員</h3>
                        <span>請填寫以下資訊完成註冊</span>
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <button>註冊</button>
                    </form>
                </div>
                <div class="form-container sign-in-container">
                    <form action="#">
                        <h3>登入會員</h3>
                        <span>請輸入您的帳號密碼</span>
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <a href="#">忘記密碼？</a>
                        <button>登入</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <h3>歡迎回來！</h3>
                            <p>登入會員享有更多服務</p>
                            <button class="ghost" id="signIn">登入會員</button>
                        </div>
                        <div class="overlay-panel overlay-right">
                            <h3>歡迎加入Checkie！</h3>
                            <p>為生命帶來一些新的可能，<br>只需簡單完成申請</p>
                            <button class="ghost" id="signUp">加入會員</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------ chatbot ------>

        <button class="circle" type="button">
            
            <span class="icon-elements">
            </span>
        </button>
        <div class="modal-wrapper">

            <div class="modal-header">
                <span class="title">Checkie線上客服</span>
                <p>您好！很高興為您服務</p>
            </div>

            <div class="modal-chatbox">
                <span class="reply" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
                <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
                <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
                <span class="self" data-time="14:22">您好！歡迎使用Checkie，請問有什麼可以協助您的？</span>
            </div>
            <form action="">
                <div class="modal-inputbox">
                    <input class="modal-input" type="text" placeholder="輸入您的問題...">
                    <input class="modal-input_submit" type="button" value="送出">
                </div>
            </form>
        </div>
    </header>

    <!--------CC-CODE-------->


    <div class="coCalender co-ao--allStyle">







        <div class="container-lg">


            <main id="app" class="row  co-ao-board--style">
                <div class="co-stepper-header col-md-10 col-12 offset-md-1">
                    <step-head>
                        <step-head-step :step="1" :complete="currentStep>=1">選擇日期及時間</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="2" :complete="currentStep>=2">填寫資料</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="3" :complete="currentStep>=3">確認預約資訊</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="4" :complete="currentStep>=4">前往付款</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="5" :complete="currentStep>=5">完成預約</step-head-step>
                    </step-head>

                </div>


                <div class="co-stepper-content col-12">
                    <stepper-content>
                        <!-- <transition name="slide" mode="out-in"> -->
                        <c-stepper :step="1" :current="currentStep">
                            <div class="co-counselor co-counselor--style">
                                <div class="co-counselor-pic ">
                                    <img src="./img/acOrder/螢幕快照 2020-08-06 下午10.55.01.png" alt="John">
                                </div>
                                <div class="co-counselor-text">
                                    <div>諮商心理師</div>
                                    <div>何盈靜 May He</div>
                                </div>
                            </div>
                            <div class="coCalender-calender">
                                <v-app id="inspire2">
                                    <v-row class="fill-height">
                                        <v-col>

                                            <v-sheet height="64">
                                                <v-toolbar flat color="white">
                                                    <!-- <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                                                    Today
                                                </v-btn> -->
                                                    <v-btn fab text small color="grey darken-2" @click="prev">
                                                        <v-icon small>mdi-chevron-left</v-icon>
                                                    </v-btn>

                                                    <v-toolbar-title v-if="$refs.calendar">
                                                        {{ $refs.calendar.title }}
                                                    </v-toolbar-title>
                                                    <v-btn fab text small color="grey darken-2" @click="next">
                                                        <v-icon small>mdi-chevron-right</v-icon>
                                                    </v-btn>
                                                    <v-spacer></v-spacer>
                                                    <!-- <v-menu bottom right>
                                                    <template v-slot:activator="{ on, attrs }">
                                              <v-btn
                                                outlined
                                                color="grey darken-2"
                                                v-bind="attrs"
                                                v-on="on"
                                              >
                                                <span>{{ typeToLabel[type] }}</span>
                                                <v-icon right>mdi-menu-down</v-icon>
                                              </v-btn>
                                            </template>
                                                    <v-list>
                                                        <v-list-item @click="type = 'day'">
                                                            <v-list-item-title>Day</v-list-item-title>
                                                        </v-list-item>
                                                        <v-list-item @click="type = 'week'">
                                                            <v-list-item-title>Week</v-list-item-title>
                                                        </v-list-item>
                                                        <v-list-item @click="type = 'month'">
                                                            <v-list-item-title>Month</v-list-item-title>
                                                        </v-list-item>
                                                        <v-list-item @click="type = '4day'">
                                                            <v-list-item-title>4 days</v-list-item-title>
                                                        </v-list-item>
                                                    </v-list>
                                                </v-menu> -->
                                                </v-toolbar>
                                            </v-sheet>
                                            <v-sheet height="500">
                                                <v-calendar ref="calendar" v-model="focus" color="primary" :events="events" :event-color="getEventColor" :type="type" @click:more="showEvent" @click:date="showEvent" @click:event="showEvent" @change="updateRange"></v-calendar>
                                                <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
                                                    <v-card color="grey lighten-4" min-width="350px" flat>
                                                        <v-toolbar :color="selectedEvent.color" dark>
                                                            <!-- <v-btn icon>
                                                            <v-icon>mdi-pencil</v-icon>
                                                        </v-btn> -->
                                                            <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                                                            <v-spacer></v-spacer>
                                                            <v-btn icon>
                                                                <v-icon>mdi-heart</v-icon>
                                                            </v-btn>
                                                            <v-btn icon>
                                                                <v-icon>mdi-dots-vertical</v-icon>
                                                            </v-btn>
                                                        </v-toolbar>
                                                        <v-card-text>
                                                            <span v-html="selectedEvent.details"></span>
                                                        </v-card-text>
                                                        <v-card-actions>
                                                            <v-btn text color="secondary" @click="selectedOpen = false">
                                                                Cancel
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-card>
                                                </v-menu>
                                            </v-sheet>
                                        </v-col>
                                    </v-row>
                                </v-app>
                            </div>

                            <div class="row">
                                <div class="col-12 co-button--style">
                                    <c-btn @click="update(currentStep-1)">prev</c-btn>
                                    <c-btn @click="update(currentStep+1)">next</c-btn>
                                </div>
                            </div>


                        </c-stepper>


                        <c-stepper :step="2" :current="currentStep">

                            <div class="row">
                                <div class="col-12 co-title">
                                    <h5>填寫資料</h5>
                                </div>
                                <div class="cos-counselor col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class=" col-md-12 col-4 co-counselor-pic">
                                            <div class="co-counselor-content">
                                                <img src="./img/acOrder/螢幕快照 2020-08-06 下午10.55.01.png" alt="John">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-8 co-counselor-text">

                                            <div class="row align-items-center ">
                                                <div class="col-md-12 col-6 ">諮商心理師</div>
                                                <div class="col-md-12 col-6 ">何盈靜 May He</div>
                                            </div>
                                        </div>


                                        <div class="col-12 co-counselor-order ">
                                            <div class="row justify-content-between ">
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時段</div>
                                                    <span>2020/08/19</span>
                                                </div>
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時數</div>
                                                    <span>1hr</span>
                                                </div>
                                            </div>




                                            <div class="co-counselor-order_item ">
                                                <span>共計</span>
                                                <span>1500 <span>元</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-9 col-sm-12 co-selfInfo ">
                                    <div class="co-selfInfo_title">
                                        <div>填寫預約者資訊</div>
                                        <span>以下填寫資料是保密的，僅供我們心理諮商所留存使用，請安心填寫。如需修改請至 <a href="">修改個人資料</a> </span>
                                    </div>
                                    <div class="co-selfInfo_block">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="action" value="submit">

                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memName">真實姓名<span>*</span></label>
                                                </div>
                                                <input type="text" v-model="memName" class="form-control" name="memName" id="memName" placeholder="" required="yes" autocomplete="name">
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memGender">性別<span>*</span></label>
                                                </div>

                                                <label class="radio">
                                                          <input type="radio" v-model="memGender" name="memGender" id="memGender" value="男"> 男
                                                          <span class="checkmark"></span>
                                                    </label>
                                                <label class="radio">
                                                          <input type="radio" v-model="memGender" name="memGender" id="memGender" value="女"> 女
                                                          <span class="checkmark"></span>
                                                    </label>
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memBD">年齡<span>*</span></label>
                                                </div>

                                                <input type="number" v-model.number="memBD" class="form-control" name="memBD" id="memBD" required="yes" autocomplete="bday">
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memAdd">居住地<span>*</span></label>
                                                </div>
                                                <div>
                                                    例：台北信義 或 新北汐止
                                                </div>
                                                <input type="text" v-model="memAdd" class="form-control" name="memAdd" id="memAdd" required="yes" autocomplete="address">
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memOcc">職業<span>*</span></label>
                                                </div>
                                                <input type="text" v-model="memOcc" class="form-control" name="memOcc" id="memOcc" required="yes" autocomplete="organization-title">
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memTel">行動電話<span>*</span></label>
                                                </div>

                                                <select name="memTel" v-model="memTel" id="" autocomplete="tel-country-code">
                                                            <option data-countryCode="TW" value="886" Selected>Taiwan (+886)</option>
                                                            <optgroup label="Other countries">
                                                                <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                                                <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                                                <option data-countryCode="AU" value="61">Australia (+61)</option>
                                                                <option data-countryCode="AT" value="43">Austria (+43)</option>
                                                                <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                                                <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                                                <option data-countryCode="CA" value="1">Canada (+1)</option>
                                                                <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                                                <option data-countryCode="FR" value="33">France (+33)</option>
                                                                <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                                                <option data-countryCode="JP" value="81">Japan (+81)</option>
                                                                <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                                                <!-- <option data-countryCode="TW" value="886">Taiwan (+886)</option> -->
                                                                <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                                                <option data-countryCode="GB" value="44">UK (+44)</option>
                                                                <option data-countryCode="US" value="1">USA (+1)</option> 
                                                            </optgroup>
                                                        </select>
                                                <input type="tel" class="form-control form-control--width" name="memTel" id="memTel" placeholder="9XXXXXXXX" required="yes" autocomplete="tel">
                                                <!-- pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" -->
                                            </div>

                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memEmail">電子郵件<span>*</span></label>
                                                </div>
                                                <input type="email" v-for="memEmail.value" class="form-control" name="memEmail" id="memEmail" required="yes" autocomplete="email" />
                                            </div>



                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memTopic">想談論的主題<span>*</span></label>
                                                </div>
                                                <input type="text" class="form-control" name="memTopic" id="memTopic" required="yes" />
                                            </div>



                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memStatus">目前身心狀況<span>*</span></label>
                                                </div>
                                                <div>
                                                    如 : 睡眠、飲食、是否長期頭痛、開過刀、意外事件、憂鬱症等
                                                </div>
                                                <input type="text" class="form-control" name="memStatus" id="memStatus" />
                                            </div>


                                            <div class="cos-selfForm_item">
                                                <div>
                                                    <label for="memAnticipate">諮商的期待或其他想與我們說的話<span>*</span></label>
                                                </div>
                                                <input type="text" class="form-control" name="memAnticipate" id="memAnticipate" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                    <c-btn @click="update(currentStep-1)">prev</c-btn>
                                    <c-btn @click="update(currentStep+1)">next</c-btn>
                                </div>
                            </div>


                        </c-stepper>

                        <c-stepper :step="3" :current="currentStep">
                            <div class="row">
                                <div class="col-12 co-title">
                                    <h5>確認預約資訊</h5>
                                </div>
                                <div class="cos-counselor col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class=" col-md-12 col-4 co-counselor-pic">
                                            <div class="co-counselor-content">
                                                <img src="./img/acOrder/螢幕快照 2020-08-06 下午10.55.01.png" alt="John">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-8 co-counselor-text">

                                            <div class="row align-items-center ">
                                                <div class="col-md-12 col-6 ">諮商心理師</div>
                                                <div class="col-md-12 col-6 ">何盈靜 May He</div>
                                            </div>
                                        </div>


                                        <div class="col-12 co-counselor-order ">
                                            <div class="row justify-content-between ">
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時段</div>
                                                    <span>2020/08/19</span>
                                                </div>
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時數</div>
                                                    <span>1hr</span>
                                                </div>
                                            </div>




                                            <div class="co-counselor-order_item ">
                                                <span>共計</span>
                                                <span>1500 <span>元</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-9 col-sm-12 co-CheckOrder">
                                    <div class="row co-CheckOrder_block">
                                        <table class="co-CheckOrder-table">
                                            <tr>
                                                <th>真實姓名</th>
                                                <td>葉海綿</td>
                                            </tr>
                                            <tr>
                                                <th>性別</th>
                                                <td>女</td>
                                            </tr>
                                            <tr>
                                                <th>出生年月日</th>
                                                <td>1993-12-12</td>
                                            </tr>
                                            <tr>
                                                <th>居住地</th>
                                                <td>台北</td>
                                            </tr>
                                            <tr>
                                                <th>職業</th>
                                                <td>自由業</td>
                                            </tr>
                                            <tr>
                                                <th>行動電話</th>
                                                <td><span><span>+886</span>922-123-123</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>電子郵件</th>
                                                <td>sbegdhla@yahoo.com.tw</td>
                                            </tr>
                                            <tr>
                                                <th>想談論的主題</th>
                                                <td>工作壓力</td>
                                            </tr>

                                        </table>


                                        <div class="co-CheckOrder_title">訂單資訊</div>
                                        <table class="co-CheckOrder-list">
                                            <tr>
                                                <th>項目</th>
                                                <th>數量</th>
                                                <th>價格</th>
                                                <th>小計</th>
                                            </tr>
                                            <tr>
                                                <td data-title="項目">
                                                    <div>
                                                        <span>2020/08/19</span>
                                                        <span>上午10:30-12:00</span>
                                                    </div>
                                                    <div>
                                                        預約時數1.5小時
                                                    </div>
                                                </td>
                                                <td data-title="數量">1</td>
                                                <td data-title="價格">
                                                    <span>
                                                            NT $
                                                        </span>
                                                    <span>
                                                            1500
                                                        </span>
                                                </td>
                                                <td data-title="小計">
                                                    <span>
                                                            NT $
                                                        </span>
                                                    <span>
                                                            1500
                                                        </span>
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="co-CheckOrder_title">
                                            <span>付款金額</span>
                                            <span>NT$1500</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                    <c-btn @click="update(currentStep-1)">prev</c-btn>
                                    <c-btn @click="update(currentStep+1)">next</c-btn>
                                </div>
                            </div>
                        </c-stepper>

                        <c-stepper :step="4" :current="currentStep">
                            <div class="row">
                                <div class="col-12 co-title">
                                    <h5>前往付款</h5>
                                </div>
                                <div class="cos-counselor col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class=" col-md-12 col-4 co-counselor-pic">
                                            <div class="co-counselor-content">
                                                <img src="./img/acOrder/螢幕快照 2020-08-06 下午10.55.01.png" alt="John">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-8 co-counselor-text">
                                            <!-- <div>
                                                <div>諮商心理師</div>
                                                <div>何盈靜 May He</div>
                                            </div> -->

                                            <div class="row align-items-center ">
                                                <div class="col-md-12 col-6 ">諮商心理師</div>
                                                <div class="col-md-12 col-6 ">何盈靜 May He</div>
                                            </div>
                                        </div>


                                        <div class="col-12 co-counselor-order ">
                                            <div class="row justify-content-between ">
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時段</div>
                                                    <span>2020/08/19</span>
                                                </div>
                                                <div class=" col-md-12 col-6 ">
                                                    <div>預約時數</div>
                                                    <span>1hr</span>
                                                </div>
                                            </div>




                                            <div class="co-counselor-order_item ">
                                                <span>共計</span>
                                                <span>1500 <span>元</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-9 col-sm-12 co-billing">
                                    <div class="row co-billing-block">
                                        <div class="co-billing_button">
                                            <!-- <v-expansion-panels>
                                                <v-expansion-panel>
                                                    <v-expansion-panel-header>
                                                        Panel 3
                                                    </v-expansion-panel-header>
                                                    <v-expansion-panel-content>
                                                        Some content
                                                    </v-expansion-panel-content>
                                                </v-expansion-panel>
                                            </v-expansion-panels> -->
                                            <div>
                                                <span>付款金額</span>
                                                <span>NT$1500</span>
                                            </div>
                                            <div>
                                                －收合訂單明細
                                            </div>
                                        </div>

                                        <div>
                                            <table class="co-billing_list">
                                                <tr>
                                                    <th>項目</th>
                                                    <th>數量</th>
                                                    <th>價格</th>
                                                    <th>小計</th>
                                                </tr>
                                                <tr>
                                                    <td data-title="項目">
                                                        <div>
                                                            <span>2020/08/19</span>
                                                            <span>上午10:30-12:00</span>
                                                        </div>
                                                        <div>
                                                            預約時數1.5小時
                                                        </div>
                                                    </td>
                                                    <td data-title="數量">1</td>
                                                    <td data-title="價格">
                                                        <span>
                                                        NT $
                                                    </span>
                                                        <span>
                                                        1500
                                                    </span>
                                                    </td>
                                                    <td data-title="小計">
                                                        <span>
                                                        NT $
                                                    </span>
                                                        <span>
                                                        1500
                                                    </span>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div class="co-billing_title">
                                                <span>付款金額</span>
                                                <span>NT$1500</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row co-billing-block">
                                        <div class="co-billing-block_title">
                                            請選擇付款方式
                                        </div>
                                        <div class="co-billing-payment">
                                            <div class="co-billing-title">
                                                <i class="fas fa-globe"></i>
                                                <span>線上付款</span>
                                            </div>
                                            <div class="co-billing_method">
                                                <i class="fab fa-cc-visa"></i>
                                                <span>信用卡 - VISA / Master Card / JBC</span>
                                            </div>
                                            <div class="co-billing_method">
                                                <i class="fab fa-line"></i>
                                                <span>LINE PAY</span>
                                            </div>
                                            <div class="co-billing_method">
                                                <i class="fab fa-paypal"></i>
                                                <span>街口支付</span>
                                            </div>
                                        </div>
                                        <div class="co-billing-payment">
                                            <div class="co-billing-title">
                                                <i class="fas fa-globe"></i>
                                                <span>線下付款</span>
                                            </div>
                                            <div class="co-billing_method">
                                                <i class="fas fa-ad"></i>
                                                <span>全家代碼－全家FamiPort</span>
                                            </div>
                                            <div class="co-billing_method">
                                                <i class="fas fa-university"></i>
                                                <span>ATM轉帳－國泰世華銀行</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                    <c-btn @click="update(currentStep-1)">prev</c-btn>
                                    <c-btn @click="update(currentStep+1)">next</c-btn>
                                </div>
                            </div>

                        </c-stepper>

                        <c-stepper :step="5" :current="currentStep">
                            <div class="row co-review">
                                <div class="col-12 co-title">
                                    <h6>預約成功！</h6>
                                </div>
                                <div class="col-12 co-title">
                                    <h6>感謝您的預約</h6>
                                </div>
                                <div class="col-12 co-review_block">
                                    <h5>預約編號：</h5>
                                    <h5>20072505282417007092</h5>
                                </div>
                                <div class="cos-counselor-review col-sm-12">
                                    <div class="row justify-content-center">
                                        <div class=" col-md-12 co-counselor-pic">
                                            <div class="co-counselor-content">
                                                <img src="./img/acOrder/螢幕快照 2020-08-06 下午10.55.01.png" alt="John">
                                            </div>
                                        </div>
                                        <div class="col-md-12 co-counselor-text">
                                            <div class="row align-items-center ">
                                                <div class="col-md-12">諮商心理師</div>
                                                <div class="col-md-12">何盈靜 May He</div>
                                            </div>
                                        </div>


                                        <div class="col-12 co-counselor-order ">
                                            <div class="row justify-content-center">
                                                <div class=" col-md-12">
                                                    <div>預約時段</div>
                                                    <span>2020/08/19</span>
                                                </div>
                                                <div class=" col-md-12">
                                                    <div>預約時數</div>
                                                    <span>1hr</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 co-memberCenter_block">
                                            您可至會員專區查看您的預約
                                        </div>
                                        <button class="col-7 col-md-3 co-memberCenter_button button2">
                                                前往會員專區
                                            </button>
                                    </div>

                                </div>

                            </div>

                        </c-stepper>
                    </stepper-content>

                    <!-- </transition> -->
                </div>
            </main>

        </div>


    </div>


    <!--------CC-CODE-------->

    <footer>
        <div class="footer_socialmedia">
            <a class="socialmedia_link" href=""><img src="./img/icon/mail.png" alt class="black"><img src="./img/icon/mailhover.png" alt class="pink"></a>
            <a class="socialmedia_link" href=""><img src="./img/icon/line.png" alt class="black"><img src="./img/icon/linehover.png" alt class="pink"></a>
            <a class="socialmedia_link" href=""><img src="./img/icon/facebook.png" alt class="black"><img src="./img/icon/facebookhover.png" alt class="pink"></a>
        </div>

        <div class="footer_address">
            <h6>Checkie心理諮商中心</h6>
            <h6>電話：</h6>
            <p>(03)301-1021</p>
            <h6>地址：</h6>
            <p>320桃園市中壢區中大路300號</p>
        </div>
        <p>Copyright © 2015 Checkie Psychological Counseling Center. All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="./js/coCalender.js"></script>


</body>

</html>