<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r119/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script> -->
    <script src="./js/index.js"></script>
    <title>index</title>
    <style type="text/css">
        .st0{fill:url(#SVGID_1_);}
        .st1{fill:url(#SVGID_2_);}
        .st2{fill:url(#SVGID_3_);}
    </style>
</head>
<body>
    <div class="inBanner" id="inBanner">
		<!-- 背景圖圈圈 -->
		<div class="inBanner_bgImg">
			<div class="inBanner-big_circle"></div>
			<div class="inBanner-circle_1 inBanner-circle"></div>
			<div class="inBanner-circle_2 inBanner-circle"></div>
			<div class="inBanner-circle_3 inBanner-circle"></div>
			<div class="inBanner-circle_4 inBanner-circle"></div>
        </div>
        <!-- 飛入特效 -->
        <div class="inBanner_cImg">
            <div class="inBanner-fly_block">
                <div class="inBanner-fly_item_1"></div>
                <div class="inBanner-fly_item_2"></div>
                <div class="inBanner-fly_item_3"></div>
            </div>
            <div class="inBanner-fly_block">
                <div class="inBanner-fly_item_4"></div>
                <div class="inBanner-fly_item_5"></div>
                <div class="inBanner-fly_item_6"></div>
            </div>
            <div class="inBanner-fix_img"></div>
        </div>
        <!-- logo 特校 -->
        <div class="inBanner-logo_block">
            <div class="inBanner-logo">
                <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 259 210" style="enable-background:new 0 0 259 210;" xml:space="preserve" class="inBanner-hide_svg">
                <g>
                    <!-- 漸層色 -->
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="118.2956" y1="33.1352" x2="74.4876" y2="160.8226" style="transition: all 1s linear;">
                        <stop  offset="1.047867e-02" style="stop-color:#FC987C; "/>
                        <stop  offset="0.5277" style="stop-color:#FDC0AF;"/>
                        <stop  offset="1" style="stop-color:#FDE0D8;"/>
                    </linearGradient>
                    <!-- 路徑 -->
                    <path class="st0" d="M112.4,154.6c-7.9,0-15.9-1.4-23.1-4.6c-16.7-7.3-25.6-20.6-25.6-41.5l0,0c0-13.1,4.7-24.5,12.2-33.1
                        c9.3-10.8,23.1-16.5,37.3-16.5h21.3c9.3,0,16.9-8,16.9-17.9v0c0-15.8-12.1-28.7-27-28.7h-19.1c-48.9,0-88.9,42.5-88.9,94.4v0
                        c0,51.9,40,94.4,88.9,94.4h19.1c14.8,0,27-12.9,27-28.7v0c0-9.9-7.6-17.9-16.9-17.9L112.4,154.6z"/>
                    <!-- 漸層色 -->
                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="215.858" y1="31.5315" x2="132.5854" y2="124.5265">
                        <stop  offset="1.047867e-02" style="stop-color:#FC987C;"/>
                        <stop  offset="0.5277" style="stop-color:#FDC0AF;"/>
                        <stop  offset="1" style="stop-color:#FEE8EB;"/>
                    </linearGradient>
                    <!-- 路徑 -->
                    <path class="st1" d="M231.3,55.2l-70.6,63.7c-13.3,11.8-9.1,15.4-9.5,33.2l1.5,2.9L121,121.3c-10.1-11.5-9-29.2,2.4-39.3L198,17.4
                        c9.3-8.2,23.6-7.3,31.8,2l3.5,4C241.5,32.7,240.6,47,231.3,55.2z"/>
                    <!-- 漸層色 -->
                    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="172.8579" y1="126.1594" x2="231.934" y2="193.5782">
                        <stop  offset="1.047867e-02" style="stop-color:#FC987C;"/>
                        <stop  offset="0.5277" style="stop-color:#FDC0AF;"/>
                        <stop  offset="1" style="stop-color:#FEE8EB;"/>
                    </linearGradient>
                    <!-- 路徑 -->
                    <path class="st2" d="M192.3,194l-36.9-35.9c-10-10-9.5-24.5,0.5-34.5l33.2-30.8l-1,5.2c-1.3,7.1,0.4,14.6,5.1,20
                        c0.4,0.5,0.8,0.9,1.2,1.3l36.8,35.6c10,10,10,26.4,0,36.3l-2.6,2.6C218.7,204,202.3,204,192.3,194z"/>
                </g>
                </svg>
                <span class="inBanner-logo_text">CHECKIE</span>
            </div>
            <div class="inBanner_text">
                {{inBanner.text}}
            </div>
        </div>
    </div>

    <div class="inArti" id="inArti">
        <div class="inArti_left">
            <inArti-item v-for="num in 5"></inArti-left-item>
        </div>
        <div class="inArti_conter">
            <div class="inArti-conterbox">
           <inArti-item v-for="num in 3"></inArti-left-item>
            </div>
        </div>
        <div class="inArti_right">
            <inArti-item v-for="num in 4"></inArti-left-item>
        </div>
    </div>
    <div class="inCard" id="inCard">
        <div class="inCard_text">透過神諭卡，看看當下最需要的訊息</div>
        <a href="javascript:void:(0)">抽取今日神諭卡</a>
        <div class="inCard_body">
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                <div> 
                    <div></div>
                </div>
                
                
        </div>
    </div>
    <div class="inAbout" id="inAbout">
        <div class="inAbout-left_block">
            <div class="inAbout-text_block">
                <h1>關於我們</h1>
                <div class="inAbout-text_body">
                    <div class="inAbout-text">&emsp;細心挑選的沙發，柔和舒適的燈光，</div>
                    <div class="inAbout-text">在這裡，我們陪伴您，傾聽您也接著您</div>
                </div>
                <div class="inAbout-place_block">
                    <div class="inAbout-place_btn">
						<div class="inAbout-place_block" @click="list">
							<div class="inAbout-btn_text">{{about[about_nowNum].area}}區</div>
							<div class="inAbout-btn_icon" ></div>
						</div>
                        <div class="inAbout-ano_place" v-show="select" >
							<!-- 點擊時將自己的NUM與NOWNUM交換 -->
                            <div class="inAbout_ano" @click="changeAboutNum2">{{about[about_Num2].area}}區</div>
                            <div class="inAbout_ano" @click="changeAboutNum3">{{about[about_Num3].area}}區</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inAbout-area_block">
                <div class="inAbout_area">
                    <div class="inAbout_text">
                        <div class="inAbout_content">Checkie{{about[about_nowNum].area}}區諮商中心
                            <div class="inAbout-area_icon inAbout-icon_place"></div>

                        </div>
                        <div class="inAbout_content">{{about[about_nowNum].place}}</div>
                    </div>
                </div>
                <div class="inAbout_area">
                    <div class="inAbout_text">
                        <div class="inAbout_content">{{about[about_nowNum].Weekdays}}
                        <div class="inAbout-area_icon inAbout-icon_clock"></div>

                        </div>
                        <div class="inAbout_content">{{about[about_nowNum].Weekend}}</div>
                        <div class="inAbout_content">全預約制</div>
                    </div>
                </div>
                <div class="inAbout_area">
                    <div class="inAbout_text">
                        <div class="inAbout_content">{{about[about_nowNum].tel}}
                            <div class="inAbout-area_icon inAbout-icon_tel" ></div>

                        </div>
                        
                        <!-- <div class="inAbout_content">臺北市大安區忠孝東路三段5樓之2</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="inAbout-right_block">
            <!-- 單圖 -->
            <div class="inAbout_block inAbout-show">
                    <a href="javascript:void(0)" class="inAbout-page_block">
                        <img :src="imgUrl" class="inAbout-page_pic_1">
                    </a>
            </div>
            <!-- 4圖 -->
            <div class="inAbout_block">
                <div class="inAbout-slide_grid">
                        <a href="javascipr:void(0)" class="inAbout-grid_block">
                            <img :src="imgUrl" class="inAbout-grid_pic_1">
                        </a>
                </div>
                <div class="inAbout-slide_grid">
                    <template v-for="num in 4">
                        <a href="javascipr:void(0)" class="inAbout-grid_mini_block">
                            <img :src="imgUrl" class="inAbout-grid_pic_2">
                        </a>
                    </template>
                    <inabout-grid-line></inabout-grid-line>
                </div>
                <inabout-slide-grid></inabout-slide-grid>
                <inabout-slide-grid></inabout-slide-grid>
                <inabout-grid-line></inabout-grid-line>
            </div>
            <!-- 是否再做一組? -->
            
        </div>
    </div>
    <!-- 神諭卡canvas -->
    <!-- <script>
        let scene, camera, renderer, ribbon

        const container = document.querySelector('#inCard')

        const init = () => {

        scene = new THREE.Scene()
        camera = new THREE.PerspectiveCamera( 75, 1, 0.1, 10000 )
        camera.position.z = 2

        renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true })
        container.appendChild( renderer.domElement )
            $("#inCard").addClass("canvas");
        ribbon = new THREE.Mesh(
            new THREE.PlaneGeometry( 1, 1, 128, 128 ),
            new THREE.ShaderMaterial({
            uniforms: {
                time: { value: 1.0 },
                color1: {
                value: new THREE.Color("#FFA492")
            },
                color2: {
                value: new THREE.Color("green")
            }
            },
            vertexShader: `
                varying vec3 vEC;   
                uniform float time;

                float iqhash(float n) {
                return fract(sin(n) * 43758.5453);
                }

                float noise(vec3 x) {
                vec3 p = floor(x);
                vec3 f = fract(x);
                f = f * f * (3.0 - 2.0 * f);
                float n = p.x + p.y * 57.0 + 113.0 * p.z;
                return mix(mix(mix(iqhash(n), iqhash(n + 1.0), f.x),
                            mix(iqhash(n + 57.0), iqhash(n + 58.0), f.x), f.y),
                            mix(mix(iqhash(n + 113.0), iqhash(n + 114.0), f.x),
                            mix(iqhash(n + 170.0), iqhash(n + 171.0), f.x), f.y), f.z);
                }

                float xmb_noise2(vec3 x) {
                return cos(x.z *4.0) * cos(x.z + time / 10.0 + x.x);
                }

                void main() {
                vec4 pos = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
                vec3 v = vec3(pos.x, 0.0, pos.y);
                vec3 v2 = v;
                vec3 v3 = v;

                v.y = xmb_noise2(v2) / 8.0;

                v3.x -= time / 5.0;
                v3.x /= 4.0;

                v3.z -= time / 10.0;
                v3.y -= time / 100.0;

                v.z -= noise(v3 * 7.0) / 15.0;
                v.y -= noise(v3 * 7.0) / 15.0 + cos(v.x * 2.0 - time / 2.0) / 5.0 - 0.3;

                vEC = v;
                gl_Position = vec4(v, 1.0);
                }
            `,
            fragmentShader: `
                uniform float time;
                uniform vec3 color1;
                uniform vec3 color2;
                varying vec3 vEC;

                void main()
                {
                const vec3 up = vec3(0.3, 0.3, 1.0);
                vec3 x = dFdx(vEC);
                vec3 y = dFdy(vEC);
                vec3 normal = normalize(cross(x, y));
                float c = 1.0 - dot(normal, up);
                c = (1.0 - cos(c * c)) / 3.0;
                gl_FragColor = vec4(mix(color1, color2,vEC), c * 1.5);
                }
            `,
            extensions: {
                derivatives: true,
                fragDepth: false,
                drawBuffers: false,
                shaderTextureLOD: false
            },
            side: THREE.DoubleSide,
            transparent: true,
            depthTest: false,
            })
        )

        scene.add( ribbon )

        resize()
        window.addEventListener( 'resize', resize )

        }


        const resize = () => {

        const { offsetWidth, offsetHeight } = container

        renderer.setSize( offsetWidth, offsetHeight )
        renderer.setPixelRatio( devicePixelRatio )

        camera.aspect = offsetWidth / offsetHeight
        camera.updateProjectionMatrix()

        ribbon.scale.set( camera.aspect * 1.55, 0.75, 1 )

        }

        const animate = () => {

        ribbon.material.uniforms.time.value += 0.01

        renderer.render( scene, camera )
        requestAnimationFrame( () => animate() )

        }

        init()
        animate()

    </script> -->
	<script src="./js/indexVue.js"></script>
</body>

</html>