@import '../vender/reset';
@import '../vender/var';
@import '../vender/variable';

.csMain ,.csCounselor-cards{
    *{
        margin: 0;
        padding: 0;
    }
    h1 {
        @include h1;
    }

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    h4 {
        @include h4;

    }

    h5 {
        @include h5;

    }

    h6 {
        @include h6;

    }

    p {
        @include p;

    }

    .small {
        font-size: $fontsize - 2px;
        font-weight: 300;
    }

    .article {
        margin: 20px;
        width: 500px;
    }


    .button {
        margin: 10px;
        @include btn-modules($bw, $color-pink, $fontsize*1.25);
    }

    .button2 {
        margin: 10px;
        @include btn-modules($bw, $color-blue, $fontsize*1.25);
    }

    .button2-1 {
        margin: 10px;
        @include btn-more(150px, $color-blue, $fontsize*1);
    }

    .button3 {
        margin: 10px;
        @include btn-more(80px, $color-blue, $fontsize);
    }

    .button3-1 {
        margin: 10px;
        display: inline-block;
        @include btn-more(80px, $color-pink, $fontsize);
        border-radius: $border-radius - 20px;
    }


    .button4 {
        display: inline-block;
        @include btn-paypage (250px, $color-blue, $fontsize);
    }

    .box {
        // border: 3px solid $color-blue;
        display: inline-block;
        margin: 0 30px;
        width: 350px;
        height: 400px;
        border-radius: $border-radius;
        box-shadow: $boxshadow;
        overflow: hidden;

        img {
            width: 100%;
        }


    }

    .time {
        border: 1px solid green;
        display: block;
        height: 30px;
        position: relative;


        p {
            @include p;
            font-size: $fontsize - 2px;
            float: right;


        }
    }
}

.csSelf {
    *{
        margin: 0;
        padding: 0;
    }
    h1 {
        @include h1;
    }

    h2 {
        @include h2;
    }

    h3 {
        @include h3;
    }

    h4 {
        @include h4;

    }

    h5 {
        @include h5;

    }

    h6 {
        @include h6;

    }

    p {
        @include p;

    }

    .small {
        font-size: $fontsize - 2px;
        font-weight: 300;
    }

    .article {
        margin: 20px;
        width: 500px;
    }


    .button {
        margin: 10px;
        @include btn-modules($bw, $color-pink, $fontsize*1.25);
    }

    .button2 {
        margin: 10px;
        @include btn-modules($bw, $color-blue, $fontsize*1.25);
    }

    .button2-1 {
        margin: 10px;
        @include btn-more(150px, $color-blue, $fontsize*1);
    }

    .button3 {
        margin: 10px;
        @include btn-more(80px, $color-blue, $fontsize);
    }

    .button3-1 {
        margin: 10px;
        display: inline-block;
        @include btn-more(80px, $color-pink, $fontsize);
        border-radius: $border-radius - 20px;
    }


    .button4 {
        display: inline-block;
        @include btn-paypage (250px, $color-blue, $fontsize);
    }

    .box {
        // border: 3px solid $color-blue;
        display: inline-block;
        margin: 0 30px;
        width: 350px;
        height: 400px;
        border-radius: $border-radius;
        box-shadow: $boxshadow;
        overflow: hidden;

        img {
            width: 100%;
        }


    }

    .time {
        border: 1px solid green;
        display: block;
        height: 30px;
        position: relative;


        p {
            @include p;
            font-size: $fontsize - 2px;
            float: right;


        }
    }
}