@import 'style';

.csMain {
    z-index: 50;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    #cleanSelect {
        position: absolute;
        right: 15%;
        top: 10px;
    }

    .checkbox-form {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;

        span {
            width: 120px;
            height: 4px;
            margin: 20px 10px;
            text-align: center;

            &+select {
                margin: 20px auto;
            }
        }

        input {
            display: none;

            &:checked+label {
                background-color: pink;
                color: #fff;
            }
        }

        label.button3-1 {
            margin: 10px;
            display: inline-block;
            @include btn-more(80px, $color-pink, $fontsize);
            border-radius: $border-radius - 20px;
            height: 40px;
            width: 120px;
            padding: 0;
            line-height: 40px;
        }
    }
}

.csCounselor-cards {
    width: 100%;
    height: 700px;
    padding: 50px 0;
    overflow: hidden;
    position: relative;

    #csC-countCards {
        text-align: center;
    }

    .csC-changeSlide {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: nowrap row;
        position: absolute;
        bottom: 0;

        #pre,
        #next {
            flex: 1 0 80px;
            max-width: 120px;
            margin: 20px;
            @include btn-more(80px, $color-pink, $fontsize);
            outline: none;
        }

    }


    .csCounselor-gallery {
        width: 100%;
        height: 500px;
        display: flex;
        flex-flow: nowrap row;
        position: absolute;
        left: 0%;

        .csCounselor-card {
            min-width: 350px;
            border: 1px solid rgb(0, 0, 0);
            margin: 10px 40px;
            padding: 10px;
            transition: transform 0.3s ease;
            transform: scale(0.85);

            &.bigger {
                transform: scale(1);
            }

            .csCounselor-image {
                width: 100%;
                height: 40%;
                cursor: pointer;

                img {
                    max-height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .csC-doctor__name {
                text-align: center;
                width: 100%;
                @include h5;
                cursor: pointer;
            }

            .csC-type_title {
                text-align: left;
                width: 100%;
                @include h6;
            }

            .csC-type_tag {
                justify-content: center;
                padding: 10px 0;

                span {
                    text-align: center;
                    margin: 0 5px;
                    border: 1px solid #ccc;
                }
            }

            .csC-doctor__info {
                width: 100%;

                .csC-doctor__list>li {

                    p {
                        cursor: pointer;
                        font-weight: 700;
                    }

                    .csS-list>li {
                        display: block;
                        line-height: 1.5em;

                        i {
                            display: inline-block;
                            font-size: 10px;
                            transform: scale(0.8);
                            padding-right: 5px;
                            vertical-align: middle;
                            color: rgb(101, 179, 145);
                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 1000px) {
    .csMain {
        .checkbox-form {
            width: 100%;

            span {
                width: 80px;
                height: 30px;
                text-align: center;

                &+select {
                    margin: 10px auto;
                }
            }

            label.button3-1 {
                width: 80px;
            }
        }
    }
}

@media (max-width: 576px) {
    .csMain {
        position: absolute;
        right: -120px;
        height: 500px;
        width: 120px;
        border: 1px solid red;
        transition: all 1s ease;

        &.slideIn {
            animation: slideIn 1s ease forwards;
        }

        &.slideOut {
            animation: slideOut 1s ease forwards;
        }

        #cleanSelect {
            position: absolute;
            right: 15%;
            top: 90%;
        }

        .checkbox-form {
            width: 120px;
            flex-flow: nowrap column;
            align-items: center;

            span {
                width: 120px;
                height: 5px;
                margin: 5px 0 15px;
                text-align: center;

                &+select {
                    margin: 10px auto;
                }
            }

            #openForm {
                position: absolute;
                writing-mode: vertical-lr;
                height: 90px;
                width: 30px;
                line-height: 30px;
                border: 1px solid red;
                right: 119px;
                top: 10%;
                cursor: pointer;
            }

            label.button3-1 {
                margin: 5px;
                height: 24px;
                width: 80px;
                padding: 5px;
                line-height: 14px;
                font-size: 12px;
            }
        }
    }
}

@keyframes slideIn {
    from {
        right: -120px;
    }

    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -120px;
    }
}


@media (max-width: 576px) {
    .container-fluid.csMain .csCounselor-cards {
        .csCounselor-gallery .csCounselor-card {
            transform: scale(0.7);

            &.bigger {
                transform: scale(0.8);
            }
        }

        .csC-changeSlide {
            bottom: 10%;
        }
    }
}