@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

//文字
$fontsize : 16px;
$font-style:'Noto Sans TC', sans-serif;
$line-height:1.8;
$letter-spacing:1.5px;


//顏色
$color-pink:#FFA492;
$color-blue:#91D0EB;

//shadow
$boxshadow:2px 5px 10px 3px rgba(117, 117, 117, 0.2);


//按鈕
$bw:120px;

//card圓角匡
$border-radius:30px



