// 影分身輪播
@mixin linearBtn {
    width: $bw;
    padding: 10px 10px;
    font-size: $fontsize;
    font-weight: 500;
    text-align: center;
    border-radius: $border-radius;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(135deg,#fff,#fff),linear-gradient(135deg,$color-blue,$color-pink);
    border:2px transparent solid;
    color: grey;//?
    cursor: pointer;
}
.inAbout{
    margin: auto;
    max-width: 1200px;
    height: 720px;
    margin-top: $space;//?
    display: flex;
    .inAbout-left_block{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .inAbout-text_block{
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h1{
                @include title;
                margin-bottom: 20px;
            }
            .inAbout-text_body{
                width: 50%;
                margin: auto;
                z-index: 2;
                .inAbout-text{
                    @include p;
                }
            }
            .inAbout-place_block{
                
                .inAbout-place_btn{
                    @include linearBtn();
                    margin: auto;
                    
                    transition: .2s all ease-in;
                    position: relative;
                    .inAbout-place_block{
                        
                        .inAbout-btn_text{

                        }
                        .inAbout-btn_icon{
                            @include icon;
                            background-image: url("../img/icon/select_down.png");
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 25px;
                            height: 25px;
                            opacity: 0.5;
                        }
                    }
                    
                    .inAbout-ano_place{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        .inAbout_ano{
                            @include p ;

                        }
                    }
                }
                
                
            }
        }
        .inAbout-area_block{
            height: 40%;
            display: flex;
            flex-direction: column;

            .inAbout_area{
                width: 50%;
                margin: auto;
                padding-left: 40px;
                position: relative;
                
                .inAbout_text{

                    .inAbout_content{
                        @include p ;
                        position: relative;
                        .inAbout-area_icon{
                            @include icon;
                            position: absolute;
                            left: -30px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .inAbout-icon_place{
                            background-image: url("../img/icon/place.png");
                        }
                        .inAbout-icon_clock{
                            background-image: url("../img/icon/clock.png");
                        }
                        .inAbout-icon_tel{
                            background-image: url("../img/icon/tel.png");
                        }
                    }
                }
            }
        }
    }
    .inAbout-right_block{
        width: 50%;
        height: 720px;
        position: relative;
        .inAbout_block{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;


            .inAbout-page_block{
                display: block;
                overflow: hidden;
                width: 97.5%;
                height: 97.5%;
                opacity: 0;
                transition: opacity 1.8s;
                transition-delay: 0.8s;
                border-radius: 4px;
                
                .inAbout-page_pic_1{
                    width: 120%;

                }
            }

            .inAbout-slide_grid{
                display: flex;
                width: 50%;
                height: 50%;
                flex-wrap: wrap;
                z-index: 1;
                position: relative;

                .inAbout-grid_block{
                    display: inline-block;
                    width: 95%;
                    height: 95%;
                    overflow: hidden;
                    opacity: 0;
                    transition: opacity 1.8s;
                    transition-delay: 0.8s;

                    .inAbout-grid_pic_1{
                        width: 150%;
                    }
                }
                .inAbout-grid_mini_block{
                    width: 45%;
                    height: 45%;
                    overflow: hidden;
                    margin-right: 5%;
                    z-index: 3;
                    opacity: 0;
                    border-radius: 4px;
                    transition: opacity 1.8s;
                    transition-delay: 0.8s;

                    .inAbout-grid_pic_2{
                        width: 120%;

                    }

                }
                .inAbout-grid_line{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    .inAbout-line_1{
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        left: 0;
                        height: 5%;
                        transform: translateY(-100%) scaleY(0);
                        transform-origin: center;
                        background-color: #fff;
                        transition: transform 1.2s;
                        transition-delay: 1s;
                    }
                    .inAbout-line_2{
                        transform: translateX(-100%) scaleX(0);
                        position: absolute;
                        left: 50%;
                        width: 5%;
                        height: 100%;
                        background-color: #fff;
                        transform-origin: center;
                        transition: transform 1.2s;
                        transition-delay: 1s;
                    }
                }


            }
            .inAbout-grid_line{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                .inAbout-line_1{
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    left: 0;
                    height: 2.5%;
                    transform: translateY(-100%) scaleY(0);
                    transform-origin: center;
                    background-color: #fff;
                    transition: transform 1.2s;
                    transition-delay: 1s;
                }
                .inAbout-line_2{
                    transform: translateX(-100%) scaleX(0);
                    position: absolute;
                    left: 50%;
                    width: 2.5%;
                    height: 100%;
                    background-color: #fff;
                    transform-origin: center;
                    transition: transform 1.2s;
                    transition-delay: 1s;
                }
            }




        }
        .inAbout_block.inAbout-show{

            >a.inAbout-page_block{
                opacity: 1;
                z-index: 1;
                transition: opacity 1.4s;
                transition-delay: 0.4s;
            }
            >.inAbout-grid_line{
                >.inAbout-line_1{
                    transform: translateY(-100%);
                    transform-origin: center;
                    transition-delay: 0s;
                }
                >.inAbout-line_2{
                    transform: translateX(-100%);
                    transform-origin: center;
                    transition-delay: 0s;
                }
            }
            >.inAbout-slide_grid{
                >.inAbout-grid_mini_block{
                    opacity: 1;
                    transition: opacity 1.4s;
                    transition-delay: 0.4s;
                }
                >.inAbout-grid_block{
                    opacity: 1;
                    transition: opacity 1.4s;
                    transition-delay: 0.4s;
                }
                >.inAbout-grid_line{
                    >div.inAbout-line_1{
                        transform: translateY(-100%);
                        transform-origin: center;
                        transition-delay: 0s;

                    }
                    >div.inAbout-line_2{
                        transform: translateX(-100%);
                        transform-origin: center;
                        transition-delay: 0s;
                    }
                }
            }
        }

    }

}

